
/* section1 */
.section1-container {
  padding: 4% 7% 3%;
  text-align: center;
  background-color: #f6fbfc;
}

.section1-container img {
  width: 600px;
  border-radius: 10px;
}

.section1 h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 30px 0 0;
  margin: 0;
}

.section1-left p {
  font-size: 1.7rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 10px 0 30px;
}

.section1-right {
  padding-top: 50px;
  text-align: left;
}
.section1 h3 {
  padding-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.section1-right p {
  font-family: "Ubuntu";
  color: #3c3a3a;
}

/* section2 */
.section2 {
  padding: 5% 10% 3%;
}

.section2 h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;  color: #39a3be;
  padding-bottom: 40px;
}

.inside img {
  float: left;
  width: 110px;
  margin: 15px 25px 0 0;
}

.items {
  padding-bottom: 25px;
}

.inside {
  padding: 25px;
  border: 1px solid #e0dede;
  border-radius: 7px;
}

.inside:hover {
  border-color: #8ec6c5;
  transition: 100ms;
}

input[type="number"] {
  position: relative;
  padding-left: 12px;
  top: 2px;
  height: 46px;
  width: 60px;
  border: 1px solid #e0dede;
  border-radius: 6px;
}

.button2 {
  font-size: 1rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  margin-left: 15px;
  padding: 10px 10px;
  background-color: #36b7be;
  color: #ffffff;
}

 a {
     text-decoration: none ;
     color: #000;
  }
a:hover {
    color:#000;
    text-decoration:none;
    cursor:pointer;
}
