.section1-container {
    background-color: #f6fbfc;
    padding: 10% 13%;

  }
  
.section1 h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 3.5rem;
  }
  .heading{
      font-size: 30px;
      color: #36b7be;
      padding: 7% 10% 3%;
  }

 
.forms{
    padding: 90px;
}

.col-sm-10{
    margin-bottom: 20px;
       
}
.price{
    padding: 25px;
    margin-left: 22px;
    justify-content: space-evenly;
    
}

.form-check{
    margin-bottom: 10px;

}

